---
---

<!DOCTYPE html>
<html>

    <head>
        <head>
        <title>Kate and Charlie</title>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% if site.github %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
        {% else %}
        <link rel="stylesheet" href="{{site.github.url}}/bower_components/normalize.css/normalize.css">
        {% endif %}
        <link rel="stylesheet" href="{{site.github.url}}/css/styles.css">

        {% if site.github %}
        <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js"></script>
        {% else %}
        <script src="/bower_components/components-webfontloader/webfont.js"></script>
        {% endif %}
        <script>
            WebFont.load({
                custom: {
                    families: ['monmica-regular']
                },
                google: {
                    families: ['Playfair Display','Alegreya SC']
                },
                typekit: {
                    id: 'nom0arr'
                }
            });
        </script>
    </head>

    <body>
        <div class="splash-box">
            <div class="splash-box__content title-box">
                <h1 class="title-box__title title-font">Kate <span class="title-box__amp">&amp;</span> Charlie</h1>
                <p class="title-box__subtitle subtitle-font">April 25, 2015</p>
                <h2 class="title-box__more-info splash-box__coming-soon subheading-font">More info to come.</h2>
            </div>
        </div>

        {% if site.github %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        {% else %}
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        {% endif %}
    </body>

</html>
