/*------------------------------------*\
    #CONTAINER
\*------------------------------------*/

.content-area {
    max-width: 960px;
    background-color: $color-background-fallback;
    background-color: $color-background;
    box-shadow: 0px 1px 1px rgba(#111,0.5);
    margin-bottom: 3rem;
    padding: 30px;
}

.background {
    background-image: url(../images/bg-katecharlie-lake.jpg);
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}


/*------------------------------------*\
    #SPLASH-BOX
\*------------------------------------*/

.splash-box {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 5%;

    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;

    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;

    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;

    display: box;
    box-align: center;
    box-pack: center;
}

@media screen and (min-width: 30rem) {
    .splash-box {
        padding: 1.5em;
    }
}





/*------------------------------------*\
    #TITLE-BOX
\*------------------------------------*/

.title-box {
    color: #fff;
    text-align: center;

    /**
     * hide title-box while fonts load
     */

    .wf-loading & {
        opacity: 0;
    }

    .wf-active &, .wf-inactive & {
        transition: opacity 800ms;
        opacity: 1;
    }
}

@media screen and (min-width: 40rem) {
    .title-box {
        padding: 3em;
        border: 3px #fff solid;
        text-shadow: 0px 1px 1px rgba(#111,0.5);
        box-shadow: 0px 1px 1px rgba(#111,0.5);


        /**
         * Shadow for upper border
         */

        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 2px;
            box-shadow: inset 0px 2px 2px -1px rgba(#111,0.5);
        }
    }
}

    .title-box__title {
        line-height: 1.2em;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .title-box__amp {
        font-size: 1.15em;
        display: block;
    }

    @media screen and (min-width: 32.5rem) {
        .title-box__amp {
            display: inline;
        }
    }

    .title-box__subtitle {
        font-size: 1.6em;
        margin-top: 1.1rem;
        margin-bottom: 1.333rem;
    }

    .title-box__more-info {
        // font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }


/*------------------------------------*\
    #PARTY-PEOPLE
\*------------------------------------*/

.party-person {
    text-align: center;
    margin-bottom: 1em;
}

    .party-people__title {
        font-size: 2em;
        margin-top: 0.5rem;
        margin-bottom: 1.333rem;
    }

.party-person__ring {
    display: inline-block;
    // border: 1px $color-border solid;
    box-shadow: 0px 0px 2px rgba(#111,0.5);
    padding: 0.667em;
    border-radius: 50%;
}

    .party-person__img {
        width: 166px;
        height: 166px;
        border-radius: 50%;
        background-image: url(../images/wedding-party.jpg);
        background-repeat: no-repeat;
        background-size: 200%;
        .party-person--abe & {
            background-position: top left;
        }
        .party-person--joe & {
            background-position: top right;
        }
        .party-person--cara & {
            background-position: bottom left;
        }
        .party-person--caroline & {
            background-position: bottom right;
        }
    }

.party-person__name {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.party-person__role {
    margin-bottom: 1.5em
}

