/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
    position: fixed;
    padding: 5%;
    top: 0;
    right: 0;
    .touch & {
        position: absolute;
    }
}

@media (min-width: 30rem) {
    .nav {
        padding: 1.5em;
    }
}

@media (min-width: 1280px) {
    .nav {
      right: auto;
      left: 0;
    }
}

.navbar-toggle {
    position: relative;
    display: block;
    margin: 0;
    padding: 12px 0;
    cursor: pointer;
    .icon-bar {
        background-color: $color-background-fallback;
        background-color: $color-background;
        width: 38px;
        height: 2px;
        transition: background-color 400ms;
        .overlay-open &, .below-the-fold & {
            background-color: transparent !important;
        }
    }
    &:hover {
        .icon-bar {
            background-color: #fff;
        }
    }
    &:active {
        .icon-bar {
            background-color: transparent;
        }
    }
    .no-js & {
      display: none;
    }
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: block;
    }
}

@media (min-width: 1280px) {
    .navbar-toggle {
        display: none;
    }
}

.left-nav {
    display: none;
    a {
        color: $color-background-fallback;
        color: $color-background;
        font-size: 0.8em;
        &:hover {
            color: #fff;
        }
    }
}

@media (min-width: 1280px) {
    .left-nav {
        display: block;
    }
}


/*------------------------------------*\
    #OVERLAY
\*------------------------------------*/

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    background: rgba(#fff,0.95);
    @extend .title-font;
    .no-js & {
      display: none;
    }

}

@media (min-width: 1280px) {
    .overlay {
        opacity: 0;
    }
}

/**
 * Overlay closing cross
 */

.overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 5%;
    right: 5%;
    overflow: hidden;
    border: none;
    background: url(../images/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

@media (min-width: 30rem) {
    .overlay .overlay-close {
        top: 1em;
        right: 1em;
    }
}


@media (min-width: 768px) {
    .overlay .overlay-close {
        width: 80px;
        height: 80px;
    }
}


/**
 * Menu styles
 */

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    // height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    min-height: 54px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.overlay ul li a {
    // font-size: 54px;
    font-size: 30px;
    font-weight: 300;
    display: block;
    line-height: 1.4;
    // color: #fff;
    color: $color-copy;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

@media (min-width: 768px) {
    .overlay ul li a {
        font-size: 2.2em;
    }
}

// .overlay ul li a:hover,
// .overlay ul li a:focus {
//     color: lighten($color-link, 40%);
// }


/*
 * Effects
 */

.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}
