/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

$color-background-fallback: #fff;
$color-background: rgba(#fff, 0.95);
$color-copy: #231f20;
$color-heading: #002a5b;
$color-link: #002a5b;

$fonts-serif: "Playfair Display", Georgia, serif;
$fonts-sans: nimbus-sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
$fonts-cursive: monmica-regular, "Brush Script MT", cursive;
$fonts-fantasy: Copperplate, "Copperplate Gothic Light", "Alegreya SC", fantasy;
